.modal-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.modal {
  background-color: #fff;
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 0.4rem;
}

.create-form {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.4rem;
}

.create-form input[type="text"]::placeholder,
.create-form input[type="date"]::placeholder {
  font-size: 0.7rem;
}

.create-form button {
  border: 0;
  border-radius: 0.4rem;
  margin-top: 0.3rem;
  padding: 0.3rem 0.5rem;
  background-color: #c3c3c3;
}

.create-form button[type="submit"] {
  background-color: orangered;
  color: #fff;
}

.create-form button[type="submit"]:disabled {
  background-color: #c3c3c3;
  color: #000;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.7rem;
}
